{% extends "layouts/main.html.twig" %}

{% block content %}

    <div class="d-flex justify-content-between m-3">
        <h1>Книги</h1>

        <form method="get" action="{{ path('search') }}">
            <div class="input-group">
                <input type="text" class="form-control" name="query" placeholder="Search...">
                <select class="form-control" name="search_by">
                    <option value="title">Title</option>
                    <option value="authors">Authors</option>
                    <option value="categories">Categories</option>
                    <option value="text">Text</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-group">
        <div class="row" style="margin: 10px auto;">
        {% for book in books %}
            <div class="col-4">
                <div class="card m-1 h-100">
                    <img class="card-img-top" style="min-height: 450px;" src="{{ asset('images/books/' ~ book.thumbnailUrl) }}" alt="{{ asset('images/books/none.jpg') }}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a></h5>
                        <p class="card-text">{{ book.shortDescription }}</p>
                        <table>
                            <tbody>
                            <tr>
                                <td class="align-top"><strong>Categories</strong></td>
                                <td>
                                    <ul>
                                        {% for category in book.categories %}
                                            <li><a href="{{ path('books_by_category', {'id': category.id}) }}">{{ category.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-top"><strong>Authors</strong></td>
                                <td>
                                    <ul>
                                        {% for author in book.authors %}
                                            <li><a href="{{ path('books_by_author', {'id': author.id}) }}">{{ author.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><data>{{ book.publishedDate|date('Y-m-d') }}</data></small>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <a href="{{ path('book_index') }}">Назад к списку</a>

{% endblock %}

